@use '@/shared/styles/_tokens.scss' as tokens;

.wheel {
  width: tokens.$wheel-size;
  height: tokens.$wheel-size;
  border-radius: tokens.$radius-pill;
  overflow: visible;
}

.wheel__base {
  fill: tokens.$bg-app-light;
}

.wheel__slice-path {
  stroke: tokens.$color-wheel-hub-fill;
  stroke-width: tokens.$wheel-slice-stroke-width;
  transition:
    fill tokens.$duration-medium ease,
    filter tokens.$duration-medium ease,
    transform tokens.$duration-medium ease;
}

.wheel__slice-path--primary {
  fill: tokens.$color-wheel-primary-soft;
}

.wheel__slice-path--secondary-a {
  fill: tokens.$color-wheel-secondary-a-soft;
}

.wheel__slice-path--secondary-b {
  fill: tokens.$color-wheel-secondary-b-soft;
}

.wheel__slice-path--active {
  animation: pulse-slice 0.8s ease-in-out 3;
  fill: #f1f1f7;
  transform-origin: 50px 50px;
  transform-box: view-box;
}

.wheel__slice-path--runner {
  animation: pulse-slice 0.55s ease-in-out infinite;
  fill: #f1f1f7;
  transform-origin: 50px 50px;
  transform-box: view-box;
}

.wheel__label--active {
  fill: tokens.$color-active-element-light;
}

.wheel__label--runner {
  fill: tokens.$color-active-element-light;
}

.wheel__hub {
  fill: tokens.$color-wheel-hub-fill;
}

.wheel__label {
  font-size: tokens.$wheel-label-size;
  fill: tokens.$icon-color-light;
  text-anchor: middle;
  dominant-baseline: middle;
  user-select: none;
  stroke: tokens.$color-wheel-secondary-b-soft;
  stroke-width: 0.8px;

  paint-order: stroke fill;
}

@keyframes pulse-slice {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(tokens.$wheel-pulse-scale);
  }
  100% {
    transform: scale(1);
  }
}
